*{
  box-sizing: border-box;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  margin-top: 30px;
  text-align: center;
}
.csed-logo {
  text-align: center;
}

.csed-logo img {
  height: 300px;
}

.headline {
  margin-bottom: 10px;
  font-weight: 900;
}
.sub-headline {
  color: #888;
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 10px;
}
.slogan {
  border-bottom: 1px solid #aaa;
  margin-bottom: 40px;
  padding-bottom: 20px;
  margin-top: 0px;
  color: #D63E3B;
}

section {
  font-weight: 300;
}
.section-header {
  font-weight: 700;
}
.sponsor-header {
  margin-bottom: 40px;
}
.sponsor-logo {
  height: 50px;
  margin-bottom: 40px;
}
.partners {
  text-align: center;
  border-top: 1px solid #aaa;
  margin-top: 20px;
  padding-top: 5px;
}
.partners-header {
  margin-bottom: 0px;
}
.partner-logo {
  margin: 0 15px;
}
.partner-logo-sm {
  width: 120px;
}
.partner-logo-md {
  width: 170px;
}
.partner-logo-lg {
  width: 220px;
}
.event-date {
  font-weight: 700;
}
.event-time {
  color: #888;
  margin-top: 10px;
}
.event-title {
  color: #D63E3B;
  margin-top: 10px;
}
.event-description {
  font-size: 20px;
  margin-bottom: 10px;
}
.glyphicon-map-marker {
  padding-right: 8px;
}

footer {
  margin: 40px 0 20px;
  padding-top: 20px;
  position: relative;
  border-top: 1px solid #888;
}
.sponsor {
  display: inline-block;
}
.sponsor-text{
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 50px;
  vertical-align: middle;
  display: inline-block;
}
.zayo-logo {
  position: relative;
  top: 5px;
  margin: 0;
  padding-left: 5px;
  height: 35px;
  display: inline-block;
}
.byline {
  display: inline-block;
}
.byline-text {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 50px;
  vertical-align: middle;
  display: inline-block;
}
.gschool-logo {
  margin: 0;
  padding: 0;
  height: 50px;
  display: inline-block;
}

/* Media Queries */
@media (max-width: 600px) {
  .csed-logo img {
    height: 275px;
  }
}
